<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="classes">
    <test verbose="2" preserve-order="true" name="C:/Users/Udara Jayasuriya/Documents/Self Study/SeleniumFramework">
        <classes>
            <class name="tests.Test_NG_Demo"/>
            <class name="tests.Test_NG_Demo1">
                <methods>
                    <include name="googleSearchTest"/>
                    <include name="googleSearchTest2"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>